@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* for laptops */
@media only screen and (min-width: 1200px) {
  body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh; /* This is required to center my card vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.94rem;
    font-family: 'Outfit', sans-serif;
  }
  
  .card {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: auto;
    border-radius: 25px;
  }
  
  .qr-code {
    width: 20vw;
    justify-content: center;
    padding: 1em;
    border-radius: 30px;
  }
  
  .improve {
    color: hsl(218, 44%, 22%);
    padding: 2% 8%;
    font-weight: 700;
    font-size: 1.5em;
  }
  
  .scan {
    color: hsl(220, 15%, 55%);
    padding: 2% 8% 10%;
    font-weight: 400;
    font-size: 1.1em;
  }
  
  .attribution { 
    font-size: 0.8rem;
    text-align: center;
    margin: 1%;
  }
  
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }
}

/* for tablets */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh; /* This is required to center my card vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    font-family: 'Outfit', sans-serif;
  }
  
  .card {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: auto;
    border-radius: 25px;
  }

  .qr-code {
    width: 25vw;
    justify-content: center;
    padding: 1em;
    border-radius: 30px;
  }
  
  .improve {
    color: hsl(218, 44%, 22%);
    padding: 4% 10%;
    font-weight: 700;
    font-size: 1.2em;
  }
  
  .scan {
    color: hsl(220, 15%, 55%);
    padding: 2% 8% 12%;
    font-weight: 400;
    font-size: 0.9em;
  }

  .attribution { 
    font-size: 0.5rem;
    text-align: center;
    margin: 1%;
  }
  
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }
}

/* for smartphones */
@media only screen and (min-width: 300px) and (max-width: 600px) {
  body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh; /* This is required to center my card vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.5rem;
    font-family: 'Outfit', sans-serif;
  }
  
  .card {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: auto;
    border-radius: 25px;
  }

  .qr-code {
    width: 20vw;
    justify-content: center;
    padding: 1em;
    border-radius: 30px;
  }
  
  .improve {
    color: hsl(218, 44%, 22%);
    padding: 2% 8%;
    font-weight: 700;
    font-size: 1.5em;
  }
  
  .scan {
    color: hsl(220, 15%, 55%);
    padding: 2% 8% 10%;
    font-weight: 400;
    font-size: 1.1em;
  }

  .attribution { 
    font-size: 0.6rem;
    text-align: center;
    margin: 1%;
  }
  
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }
}